{% extends 'base.twig' %}


{% block content %}

<section>
    <h2>submit fit</h2>
    {{ flash }}

    <form id="addFit" method="POST" action="index.php/fit/add">
        <textarea name="fit"></textarea>
        <input type="submit" value="submit" />
    </form>
</section>

<section class="column">
    <h2>fits</h2>
    <a id="refreshFits" >refresh</a>
    <ul class="sortable" id="fits">
        {% for fit in fits %}
            <li class="fit {{ fit.hasWarning() ? 'error' : '' }}" ><b>{{ fit.type }}</b> - {{ fit.name }}
                <div class="detail" style="display:none">
                    {% if fit.hasWarning() %}
                        <ul class="warning">
                            {% for warning in fit.getWarnings() %}
                                <li>{{ warning.tournament }} - {{ warning.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul>
                    {% for slotName,slot in fit.slots %}
                        <b>{{ slotName }}</b>
                        {% for module in slot %}
                            <li>{{ module.moduleName }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

<section class="column">
    <h2>Setups</h2>
    <ul >
        <li>test setup<ul class="sortable setup"></ul></li>
    </ul>
</section>
<style>

.sortable {
    min-height: 1em;
}

section.column {
    width: 49%;
    display:inline-block;
    vertical-align:top;
    margin: 20px 0;
    background: #ccc;
}
ul.warning {
    background-color: #ffff99;
}
.fit.error {
    background-color: #ff0000;
}
div.detail {
    position: absolute;
    border: solid 1px #333333;
    background-color: #cccccc;
    margin-left: 200px;

}
</style>
<script>
$(document).ready(function(){

    $( ".sortable" ).sortable({
        connectWith: ".sortable"
    }).disableSelection();

    addFitDetailhover = function ()
    {
        $('li.fit').hover(function(){
            $('div.detail',this).show();
        },function(){
            $('div.detail',this).hide();
        })
    }

    $('#addFit').ajaxForm(function() {
        // @todo this really is a bit of a waste.
        $('#refreshFits').click();
    });


    $('#refreshFits').click(function()
    {
        $.get(
            'index.php/fit/list',
            function(data)
            {
                $("#fits").html(data);
                addFitDetailhover()
            }
        );
    });


    addFitDetailhover()
})
</script>
{% endblock %}