{% extends 'base.twig' %}

{% block content %}
    <section class="main" id="detail">
        <div class="mainheader header">
            <h2>{{ setup.name|escape }}</h2>
            <div class="menu" >
                <a class="editSetup"        href="/index.php/setup/{{ setup.id }}/editDialog" ><i class="fa fa-edit fa-2x" ></i></a>
                <a class="addFit"        href="/index.php/setup/{{ setup.id }}/fit/addDialog" ><i class="fa fa-plus fa-2x" ></i></a>
                <a class="refreshSetup"  href="/index.php/setup/{{ setup.id }}/details" ><i class="fa fa-refresh fa-2x" ></i></a>
            </div>
        </div>
        <div id="setupDetails">
            {% include 'setup/setupDetails.twig' with {'setup': setup, 'tournament': tournament} %}
        </div>
    </section>
    <div id="dialog"></div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function(){
            var setupDetail = new setupDetailHelper;
            setupDetail.init($('#detail'), $('#fitList'));

            window.hbeat = new heartbeat('/index.php/setup/{{ setup.id }}/heartbeat', function() {setupDetail.refreshFits(setupDetail)});
            setInterval("window.hbeat.trigger()", 10000);
        })
    </script>
{% endblock %}