<div class="setup_info">
    <div class="description">
        <p>{{ setup.desc }}</p>
    </div>
    <div>
        Points: {{ setup.getPoints }}/{{ tournament.getMaxPoints }}<br/>
        Pilots: {{ setup.getPilots }}/{{ tournament.getMaxPilots }}
    </div>
</div>
<ul id="fitList" >
    {% for fit in setup.fits %}
        {% include 'fit/fit.twig' with {'setup': setup, 'fit': fit, 'tournament': tournament} %}
    {% endfor %}
</ul>