<li class="setup box {{ setup.hasWarning() ? 'error' : '' }}" id="setup_{{ setup.id }}" >
    <div class="header">
        <h3 class="setupName">{{ setup.name }}</h3>
        <div class="menu" >
            <a class="detailsSetup"  href="/index.php/setup/{{ setup.id }}/details" ><img width="25" src="/img/icon/Black_detail.png" alt="show details" /></a>
            <a class="addFit"        href="/index.php/setup/{{ setup.id }}/fit/addDialog" ><img width="25" src="/img/icon/Black_New-Page.png" alt="add fit" /></a>
            <a class="refreshSetup"  href="/index.php/setup/{{ setup.id }}/refresh" ><img width="25" src="/img/icon/Black_Pie-Circle.png" alt="refresh Setup" /></a>
            <a class="deleteSetup"   href="/index.php/setup/{{ setup.id }}/delete" ><img width="25" src="/img/icon/Black_Remove.png" alt="remove Setup" /></a>
        </div>
    </div>
    <div class="description segment">
        <p>{{ setup.desc|escape|nl2br }}</p>
    </div>
    <div class="segment points">
        <div><span class="label">Points:</span><span class="points"><span class="value">{{ setup.getPoints }}</span>/<span class="maxValue">{{ tournament.getMaxPoints }}</span></span></div>
        <div><span class="label">Pilots:</span><span class="pilots"><span class="value">{{ setup.getPilots }}</span>/<span class="maxValue">{{ tournament.getMaxPilots }}</span></span></div>
    </div>
    {% if setup.hasWarning() %}
        <div class="warning segment" >
            <ul class="warning">
                {% for warning in setup.getWarnings() %}
                    <li>{{ warning.tournament }} - {{ warning.text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <ul class="sortable fits segment">
    {% for fit in setup.fits %}
        <li class="fit {{ fit.hasWarning() ? 'error' : '' }}" ><span class="fitLine">{{ fit.flagship ? '<img src="/img/icon/flag.png" width="11" alt="Flagship" />&nbsp;': '' }}<b>{{ fit.type|escape }}</b> - {{ fit.name|escape }} <span style="float: right">x{{ fit.quantity }}</span></span>
            <div class="detail" style="display:none">
                {% if (fit.flagship) %}
                    <img src="/img/icon/flag.png" width="16" alt="Flagship" />
                {% endif %}
                {% if fit.hasWarning() %}
                    <div class="warning segment" >
                        <ul class="warning">
                            {% for warning in fit.getWarnings() %}
                                <li>{{ warning.tournament|escape }} - {{ warning.text|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="segment">
                    {{ fit.getPointCategoryName()|escape }} - {{ fit.getPoints() }}
                </div>
                <ul class="detailFit">
                    {% for slotName,slot in fit.slots %}
                        <h3>{{ slotName|escape }}</h3>
                        {% for module in slot %}
                            <li>{{ module.moduleName|escape }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </li>
    {%  endfor %}
    </ul>
    <div class="segment footer">
        Owner: {{ setup.ownerName }}
    </div>
</li>