<section>
    <form id="editFit_form" method="POST" action="/index.php/setup/{{ setupId }}/fit/{{ fit.id }}/update">
        <p><label>EFT format fit:</label><br/>
            <textarea rows="10" class="text ui-widget-content ui-corner-all" name="fit">{{ fit.EFT|escape }}</textarea>
        <p><label>Description:</label><br/>
            <textarea class="text ui-widget-content ui-corner-all" name="description">{{ fit.description|escape }}</textarea>
        <p><label>Quantity:</label><input class="number ui-widget-content ui-corner-all" type="number" name="quantity" size="1" value="{{ fit.quantity|escape }}" /></p>
    </form>
</section>


<style>
    #addFit label
    {
        display: inline-block;
    }
    #addFit input.error
    {
        background-color: red;
    }
    #addFit .errorMessage
    {
        font-size: 0.8em;
    }

    #addFit_form textarea, #addFit_form input.text
    {
        width: 100%;
        display: block;
    }

    .notification
    {
        display: block;
        padding: 15px;
        background-color: greenyellow;
        border: solid 2px green;
    }
</style>