<li class="fit {{ fit.hasWarning() ? 'error' : '' }}" ><b>{{ fit.type }}</b> - {{ fit.name }}
    <div class="detail" style="display:none">
        {% if fit.hasWarning() %}
            <ul class="warning">
                {% for warning in fit.getWarnings() %}
                    <li>{{ warning.tournament }} - {{ warning.text }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul>
            {% for slotName,slot in fit.slots %}
                <b>{{ slotName }}</b>
                {% for module in slot %}
                    <li>{{ module.moduleName }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</li>