<li class="fit box" id="fit_{{ fit.id }}">
    <div class="header">
        <h3 class="name"><b>{{ fit.type|escape }}</b> - {{ fit.name|escape }}</h3>
        <div class="menu" >
            <a class="exportDna" style="display:none"  href='javascript:CCPEVE.showFitting("{{ fit.dna }}");' ><i class="fa fa-download fa-2x" ></i></a>
            <a class="export "   href="/index.php/setup/{{ setup.id }}/fit/{{ fit.id }}/exportDialog" ><i class="fa fa-download fa-2x" ></i></a>
            <a class="edit"     href="/index.php/setup/{{ setup.id }}/fit/{{ fit.id }}/editDialog" ><i class="fa fa-edit fa-2x"></i></a>
            <a class="refresh"  href="/index.php/setup/{{ setup.id }}/fit/{{ fit.id }}/refresh" ><i class="fa fa-refresh fa-2x"></i></a>
            <a class="delete"   href="/index.php/setup/{{ setup.id }}/fit/{{ fit    .id }}/delete" ><i class="fa fa-trash-o fa-2x"></i></a>
        </div>
    </div>
    <div class="description segment">
        {% if (fit.flagship) %}
            <i class="fa fa-flag" ></i>
        {% endif %}
        <p>{{ fit.description|escape|nl2br }}</p>

    </div>
    <div class="segment">
        {{ fit.getPointCategoryName()|escape }} - {{ fit.getPoints() }} <span style="float: right">x{{ fit.quantity }}</span>
    </div>
    {% if fit.hasWarning() %}
        <div class="warning segment" >
            <ul class="warning">
                {% for warning in fit.getWarnings() %}
                    <li>{{ warning.tournament|escape }} - {{ warning.text|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="segment">
        <ul class="detailFit">
            {% for slotName,slot in fit.slots %}
                <h3>{{ slotName }}</h3>
                {% for module in slot %}
                    <li>{{ module.moduleName|escape }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</li>

